<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="XML_Priority">
  <test thread-count="5" name="ALL_TestCases">
    <classes>
      <class name="Group_Of_TestCases.Priority"/>
    </classes>
  </test> <!-- ALL_TestCases -->
</suite> <!-- XML_Priority -->
